---
import Container from "../ui/Container.astro";
---

<footer class="border-t border-slate-200 py-20">

    <Container>

        <p class="text-slate-500">

            © {new Date().getFullYear()} Cloud Ursa Ltd

        </p>

    </Container>

</footer>