---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Cloud Ursa">

<div class="container">

<h1 class="text-6xl font-bold mt-32">

Hello Cloud Ursa 👋

</h1>

<p class="mt-8 text-xl max-w-2xl">

If you can see this...

our new Astro website is working.

</p>

</div>

</BaseLayout>